.wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid  rgb(200, 200, 200);
}

img {
    height: 270px;;
}

.content {
    overflow-x:hidden;
    margin: 10px;
}

.author {
    font-weight: bold;
}