.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid rgb(200, 200, 200);
}

label {
    margin-bottom: 10px;
}

h3 {
    margin: 5px;
}

textarea {
    width: 90%;
    font-size: 17px;
}
